.container {
    max-width: 500px;
    margin: auto auto;
}

#dataItem {
    width: 200px;
    height: 20px;
}
#button {
    margin: 0 auto;
    cursor: pointer;
    color: #ebe8e8;
    padding: 5px;
    background: rgb(34,193,195);
    background: linear-gradient(135deg, rgba(34,193,195,1) 0%, rgba(161,74,144,1) 27%, rgba(35,96,186,0.8435749299719888) 99%, rgba(253,187,45,1) 100%);
    border: 1px solid rgb(9, 19, 151);
}
#button:hover{
    background: rgb(35, 71, 71);
    background: linear-gradient(135deg, rgba(34,193,195,1) 0%, rgb(170, 120, 160) 27%, rgba(35,96,186,0.8435749299719888) 99%, rgb(126, 98, 37) 100%);
    border: 1px solid rgb(1, 6, 68);
}
#button:active{
    background: rgb(5, 13, 88);
    background: linear-gradient(135deg, rgb(6, 4, 73) 0%, rgb(170, 120, 160) 27%, rgba(6, 39, 88, 0.844) 99%, rgb(126, 98, 37) 100%);
    border: 1px solid rgb(7, 14, 121);
}
.list {
    list-style-type: decimal;
}